.photo {
    margin: 3.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.biography {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
@media (min-width: 768px) {
    .photo{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
    .photo img{
        width: 30rem;
    }
    .photo div{
        width: 45%;
    }
    .biography{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .biography div{
        width: 45%;
    }
}
@media (min-width: 1024px) {
    .photo img{
        width: 40rem;
    }
}
@media (min-width: 1280px) {
    .photo img{
        width: 50rem;
    }
}