.paintingBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame{
    width: 25rem;
    height: 30rem;
    background-color: brown;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    position: relative;
}
.frame img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.text{
    text-align: center;
    margin: 1rem;
    line-height: 1.3;
}
.text h5{
    color: var(--blue);
    font-size: 1.7rem;
}
.text span{
    color: var(--gray);
}
@media (min-width: 768px) {
    .frame{
        width: 30rem;
        height: 35rem;
    }
}