@font-face {
  font-family: 'FuturaLT';
  src: url(FuturaLT.ttf);
}

/* Globals */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: 'FuturaLT', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 100vw;
  margin: auto;
}
img,video,svg{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
input, select{
  outline: none;
}
button{
  border: none;
}
:root {
  --yellow: #9d6f00;
  --beige: #dfdad6;
  --blue: #22404a;
  --gray: rgb(157, 158, 158);
}
/* Tools */
.container {
  width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.rec-carousel button{
  background-color: var(--beige)!important;
  color: var(--yellow)!important;
}
.rec-carousel button:hover{
  color: var(--beige)!important;
  background-color: var(--yellow)!important;
}
.rec-carousel button:disabled{
  background-color: rgba(103,58,183,0.1)!important;
  color: #999!important;
}
.rec-pagination button.rec-dot_active{
  box-shadow: 0 0 1px 3px var(--yellow)!important;
  background-color: #9d6e0088;
}
.rec-pagination button.rec-dot_active:hover{
  box-shadow: 0 0 1px 3px var(--yellow)!important;
}
.rec-pagination button:hover{
  box-shadow: 0 0 1px 3px #9d6e0088!important;
}
/* Responsive */
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }
  .active-link{
    color: var(--yellow);
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}